services:
  portfolio:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: portfolio-portfolio-1
    restart: always
    ports:
      - "8080:8080"
    networks:
      - web

networks:
  web:
    external: true
    name: web
