services:
  portfolio-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3001:5173"
    volumes:
      - ./frontend:/app:Z
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    networks:
      - web
    stdin_open: true
    tty: true
    privileged: true

networks:
  web:
    driver: bridge