{% load static %}
<!-- Header section -->
<header id="header">
  <div class="logo-section">
    <a class="logo" href="#home">
      <img src="{% static 'Mirshod.png' %}" alt="W" width="50" height="50">
      <span class="logo-text">W<span class="logo-v2">-Mirshod</span></span>
    </a>
  </div>
  
  <nav class="nav-desktop">
    <a class="nav-item active" href="#home">Home</a>
    <a class="nav-item" href="#about">About</a>
    <a class="nav-item" href="#experience">Experience</a>
    <a class="nav-item" href="#skills">Skills</a>
    <a class="nav-item" href="#achievements">Achievements</a>
    <a class="nav-item" href="#projects">Projects</a>
    <a class="nav-item" href="#contact">Contact</a>
    <a class="nav-item" href="https://github.com/W-Mirshod" target="_blank">GitHub</a>
  </nav>

  <div class="mobile-menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<!-- Mobile Navigation -->
<nav class="nav-mobile">
  <a class="nav-item" href="#home">Home</a>
  <a class="nav-item" href="#about">About</a>
  <a class="nav-item" href="#skills">Skills</a>
  <a class="nav-item" href="#achievements">Achievements</a>
  <a class="nav-item" href="#projects">Projects</a>
  <a class="nav-item" href="#contact">Contact</a>
  <a class="nav-item" href="https://github.com/W-Mirshod" target="_blank">GitHub</a>
</nav>
